@tailwind base;
@tailwind components;
@tailwind utilities;



nav ul a.active{
    background-color: crimson;
    color: white;
    border-radius: 8px;
    padding: 8px ;
}
.services a.active{
    background-color: lightblue;
    color: white;
    border-radius: 8px;
    padding: 8px ; 
}